.vscode/
*/bin/
*/obj
notes.txt
*/config.json
*/*/config.json
debug.csproj
*.xcf
TrinketTinkerTest/
TrinketTinker/manifest.json
workfiles/
.config

_site/
docs/
guide/toc.yml
api/
dfx*
templates/
.venv
